<footer class="row">
  <div class="small-12 columns">
    <hr />
    <div class="row">
      <div class="small-12 columns">
        <ul class="inline-list right">
          <li id="notre-mission-link" class="link first"><a href="/notre-mission">Notre mission</a></li>
          <li id="portail-des-parents-link" class="link "><a href="/portail-des-parents">Portail des parents</a></li>
          <li id="blog-link" class="link "><a href="/blog">Blog</a></li>
          <li id="contact-link" class="link last"><a href="/contact">Nous contacter</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <p>&copy; Copyright {{site.title}} {{ site.time | date: '%Y' }}.</p>
      </div>
    </div>
  </div> 
</footer>